{% extends 'music/base.html' %}

{% block title %}Album Details{%endblock%}

{% block body %}
	<img src="{{ album.album_logo }}" style = "width: 250px; height: 250px;">

	<h1>{{album.album_title}}</h1>
	<h3>{{album.artist}}</h3>

	{%if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% endif %}

	<form action = "{% url 'music:vote' album.id %}" method = "post"> <!-- -->
		{% csrf_token %}<!-- -->
		{% for song in album.song_set.all %}
			<input type ="radio" id="song{{ forloop.counter }}" name ="song" value ="{{ song.id }}"><!-- -->
			<label for="song{{ forloop.counter }}"><!-- -->
				{{song.song_title}}
				{%if song.is_upvote %}
					<img src = "https://upload.wikimedia.org/wikipedia/commons/3/36/Up_green_arrow.png" width = "15" height = "25" align="top">
				{% endif %}
				{%if song.is_downvote%}
				 	<img src = "https://cdn.clipart.email/980ba5d7b6bc5bece518c8c94c36dde1_red-down-arrow-png-1-png-image_170-240.png" width = "15" height = "25" align="top">
				{%endif%}
			</label><br><!-- -->
		{%endfor%}
		<input type = "submit" name = "up" value = "upvote"><br><!-- -->
		<input type = "submit" name = "down" value = "downvote"><br><!-- -->
		<input type = "submit" name = "clear" value = "clear vote"><!-- -->
	</form>
{% endblock %}

