{% extends 'music/base.html' %}


{% block body %}

  </head>
 <script> songs += "{{song.mp3}}" </script>




<h1>Queue</h1>
<ul>		
		{% for song in all_songs %}		

		    <div>
		      <div class="w3-card-4">
		        <img src="{{song.album.album_logo}}" alt="album" style="width: 100px; height: 100px;">
		        <div class="w3-container w3-center">
		          <p id="title">{{song.song_title}} - {{song.album.artist}}</p>
		        </div>
		      </div>
		    </div>



		    <!--<audio controls= "controls">
		      Sorry, your browser doesn't support html5!
		      <scource src = "http://upload.wikimedia.org/wikipedia/commons/c/c8/Example.ogg" type = "audio/mp3">
		    </audio>
		-->
		
		    <audio controls="controls" preload="auto" src="{{song.mp3}}"> <em>Your browser does not support the audio element.</em> 
		    </audio>

			

		{% endfor %}
</ul>



</html>
{% endblock %}




